<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cadastrar usuário no sistema</title>
</head>
<body>
Por favor, preencha seus dados abaixo.

<form action='..\src\br\edu\ipfb\servlet\CadastraUsuario' method="post">
<fieldset>
 <legend>Dados de login</legend>
 <table cellspacing="10">
  <tr>
   <td>
    <label for="email">E-mail: </label>
   </td>
   <td align="left">
    <input type="text" required="" type="text" name="email">
   </td>
  </tr>
  <tr>
   <td>
    <label for="login">Login de usuário: </label>
   </td>
   <td align="left">
    <input type="text" required="" name="login">
   </td>
  </tr>
  <tr>
   <td>
    <label for="passconfirm">Informe a senha: </label>
   </td>
   <td align="left">
    <input type="password" required pattern="[a-z]{6}" placeholder="6 letras "name="passconfirm"
    onchange="form.pwd2.pattern = this.value;">
    <br/>
    Confirme a senha: <input type="password" required pattern="[a-z]{6}" placeholder="6 letras" name="passconfirm2">
   </td>
  </tr>
 </table>
</fieldset>
<br />
<input type="submit">
<input type="reset" value="Limpar">
</form>

</body>
</html>