<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>iapôis : : : Dicionário Regional</title>
<link rel="icon" href="resources\imagens\icone.png" sizes="50x50">
<meta name='keywords' content='palavras, regionais, dicionário' />
<meta name='description' content='Página Web Dinâmica do Projeto.' />
<meta http-equiv='refresh' content='10s' />
<meta http-equiv="Content-Type" content="Text/html" />

<link rel="stylesheet" type="text/css" href="resources\css\reset.css" />
<link rel="stylesheet" type="text/css" href="resources\css\estilo.css" />

</head>

<body>

	<div id='saudacoes'>

		<div id='header'>
			<a href='index.html' title='Dicionário "iapôis"' target='_self'>
				<IMG class="redimens" SRC='resources\imagens\logo.png'>
			</a>
		</div>

	</div>

	<div id='divDireita'>
	
			<p>Para prosseguir, favor preencher os campos abaixo.</p>
	
		<div id='divLogin'>
			<form action="..\src\br\edu\ifpb\servlet\LoginServlet" method="post">
				<!--a solicitação vai dentro do pacote http-->
	
				<!--http://localhost:8080/iapois_dicionario/index.html-->
				
				<label> <input placeholder ="Digite seu e-mail" type="text" name="nome"> </label>
				
				<label> <input placeholder ="Digite sua senha" type="password" name="senha"> </label>
				
				<input type="submit" value="Entrar">
			</form>
			
			<a href='cadastro.html' target='_blank'>Cadastre-se aqui</a>
		</div>
		<div id='divDireitaBase'>

			<a href='index.html' title='Instituto Federal.' target='_self'>
				<IMG class='base' SRC='resources\imagens\logo_if.png'>
			</a>
		</div>		
	</div>
	
	<div id="rodape">
		Desenvolvimento WEB - 4º Ano A de Informática
		<br>Equipe: <em>Airton Silva</em>, <em>Gabriela Silva</em> e <em>Gerlane Andrade</em>.
		<br>Licença da página:
		<a href='http://www.gnu.org/copyleft/gpl.html' target='_blank'>
		http://www.gnu.org/copyleft/gpl.html</a>
	</div>
	
	

</body>
</html>